# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies with pipenv
      run: |
        pip install pipenv
        pipenv install --deploy --dev
        pipenv install flake8 pytest
        if [ -f requirements.txt ]; then pipenv install -r requirements.txt; fi
#     - name: Lint with flake8
#       run: |
#         pipenv run flake8
#     - name: Test with pytest
#       run: |
#         pytest
